<section class="rectangleTwo">
    <div class="col1">
        <div class="subcol1">
            <div class="header1"><h1>RECENT NEWS</h1></div>
            <div> <img class="banner" src="../assets/Images/Img1.jpg" alt=""> </div>
            <div>
                <div class="p1"><b>VIDEO</b><br><br>September 12, 2017</div>
                <div class="b2">Lorem ipsum is simpley dummy text of printing</div>
            </div>
        </div>

        <div class="subcol2">
            <div class="header2"><h1>Read More</h1></div>
                <div class="subcol2b1">      
                <img class="imgcol1" src="../assets/Images/Img2.jpg" alt=""> 
                <div class="boxcol1">
                     <p class="t1">VIDEO</p>
                     <p class="t2">September 12, 2017</p>
                     <p class="t3">Lorem ipsum is simpley dummy text of printing</p>
                </div>
                </div>

                <div class="subcol2b2">      
                    <img class="imgcol2" src="../assets/Images/CM2.png" alt=""> 
                    <div class="boxcol2">
                         <p class="t1">6 PHOTOS</p>
                         <p class="t2">September 12, 2017</p>
                         <p class="t3">Lorem ipsum is simpley dummy text of printing</p>
                    </div>
                </div>

     
       </div>
    
    </div>

   

</section>    