<section class="rectangThree">
    <div class="rectangThree">
       <div class="t4">
           <h1>OUR SPONSORS</h1>
       </div>

    <div class="lowBox1">
        <div class="grid-container">
            <div class="c1"><img class="image1" src="../assets/Images/Sp1.png" alt=""></div>
            <div class="c1"><img class="image1" src="../assets/Images/Sp2.png" alt=""></div>
            <div class="c1"><img class="image1" src="../assets/Images/Sp3.png" alt=""></div>  
            <div class="c1"><img class="image1" src="../assets/Images/Sp4.png" alt=""></div>
          </div>
    </div>

    <div class="lowBox2">
        <img class="ImgCM" src="../assets/Images/CM.jpg" alt="">
    </div>

    <div class="lowBox3">
    </div>

    <div class="lowBox4">   
    </div>


    <div class="lastRow">
        <span class="TextLeft">Copyrights &#169; 2019. All Rights Reserved </span>
        <span class="TextRight">Powered by: </span>
        <span ><img class="lowImg" src="../assets/Images/LastLogo.jpg" alt=""></span>
    </div>
</div>
</section>
